<link rel="stylesheet" href="/styles/desktop.css" />
<script defer src="/scripts/desktop.js"></script>
<main id="desktop">
    <div id="desktop-divider"></div>
    <div id="cinnamoroll-pet"></div>
    <div id="desktop-icons">
        <div class="desktop-icon" id="twitter">
            <div class="desktop-icon-image"></div>
            <div class="desktop-icon-label">twitter</div>
        </div>
        <div class="desktop-icon" id="tumblr">
            <div class="desktop-icon-image">
            </div>
            <div class="desktop-icon-label">tumblr</div>
        </div>
        <div class="desktop-icon" id="retrospring">
            <div class="desktop-icon-image">  
            </div>
            <div class="desktop-icon-label">retrospring</div>
        </div>
        <div class="desktop-icon" id="coffee">
            <div class="desktop-icon-image">
            </div>
            <div class="desktop-icon-label">buy me a coffee</div>
        </div>
    </div>
    <template id="window-template">
    <div class="window-container app-container">
        <div class="window-header app-header">
        <div class="window-icon"></div>
        <div class="window-title"></div>
        <div class="window-options app-options">
            <div class="window-minimize"><i class="ti ti-minus"></i></div>
            <div class="window-maximize"><i class="ti ti-square"></i></div>
            <div class="window-close"><i class="ti ti-x"></i></div>
        </div>
        </div>
        <div class="window-content app-content">
        
        </div>
    </div>
    </template>
    <template id="sticky-template">
    <div class="sticky-container app-container">
        <div class="sticky-header app-header">
        <div class="sticky-title-container">
            <input type="text" class="sticky-title" />
        </div>
        <div class="sticky-options app-options">
            <div class="sticky-minimize"><i class="ti ti-minus"></i></div>
            <div class="sticky-close"><i class="ti ti-x"></i></div>
        </div>
        </div>
        <div class="sticky-content-container app-content">
        <textarea class="sticky-content" placeholder="notes dont save on refresh"></textarea>
        </div>
    </div>
    </template>
</main>
<nav id="dashboard">
    <div id="dashboard-left-section">
    <div id="dashboard-start-container">
        <div id="dashboard-start-menu">
        <div id="dashboard-start-cols">
            <div id="dashboard-start-quick">
            <div class="dashboard-start-tooltip-container">
                <div class="dashboard-start-tooltip-parent">
                <i class="ti ti-power"></i>
                </div>
                <div class="dashboard-start-tooltip">
                shut down
                </div>
            </div>
            <div class="dashboard-start-tooltip-container">
                <div class="dashboard-start-tooltip-parent">
                <i class="ti ti-reload"></i>
                </div>
                <div class="dashboard-start-tooltip">
                restart
                </div>
            </div>
            <div class="dashboard-start-tooltip-container">
                <div class="dashboard-start-tooltip-parent">
                <i class="ti ti-logout"></i>
                </div>
                <div class="dashboard-start-tooltip">
                log out
                </div>
            </div>
            </div>
            <div id="dashboard-start-apps">
            <div class="dashboard-start-label">A</div>
            <div class="dashboard-start-item" id="start-about">about me</div>
            <div class="dashboard-start-label">C</div>
            <div class="dashboard-start-item" id="start-chat_box">chat box</div>
            <div class="dashboard-start-label">M</div>
            <div class="dashboard-start-item" id="start-music">music</div>
            <div class="dashboard-start-label">S</div>
            <div class="dashboard-start-item" id="start-sticky_note">sticky note</div>
            </div>
            <div id="dashboard-start-grid">
            <div class="dashboard-start-grid-item">
                <a class="grid-item-container" href="https://cafeshiinamon.hellogirls.info" target="_blank">
                <img src="/static/images/shiinamon.png" alt="cafe shiinamon" />
                <div class="grid-item-text">cafe shiinamon!</div>
                </a>
            </div>
            <div class="dashboard-start-grid-item">
                <a class="grid-item-container" href="https://www.hellogirls.info/post/most-desirable-survey-results" target="_blank">
                <img src="/static/images/marriage_survey.jpeg" alt="marriage survey" />
                <div class="grid-item-text">marriage survey results</div>
                </a>
            </div>
            <div class="dashboard-start-grid-item"></div>
            <div class="dashboard-start-grid-item"></div>
            </div>
        </div>
        </div>
        <div id="dashboard-start-button">
            <i class="fa-brands fa-windows"></i> start
        </div>
    </div>
    <div class="dashboard-divider"></div>
    <div id="dashboard-items">
        <template id="dashboard-item-template">
        <div class="dashboard-item-container">
            <div class="dashboard-item-text">
            </div>
        </div>
        </template>
    </div>
    </div>
    <div id="dashboard-right-section">
    <div id="dashboard-datetime">
        <div id="dashboard-time"></div>
        <div id="dashboard-date"></div>
    </div>
    </div>
</nav>
