#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

#desktop {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-weight: 300;
}

#desktop-divider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 46px;
  background-image: url("/static/images/pixel_divider_2.png");
  pointer-events: none;
  user-select: none;
}

#desktop-icons {
  height: 100%;
  width: 120px;
  padding: 10px;
  box-sizing: content-box;
}

.desktop-icon {
  width: 120px;
  margin: 20px 0;
}

.desktop-icon:active {
  border: 1px solid #ff6dbd;
  background-color: #ff8aca33;
}

.desktop-icon-label {
  width: 100%;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 0px 3px #291e52da;
  text-align: center;
}

.desktop-icon-image {
  position: relative;
  filter: drop-shadow(0px 0px 3px #12005577);
}

.desktop-icon-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("/static/images/shortcut-icon.png");
  background-size: cover;
  box-shadow: 2px 2px 2px #291e525d;
}

.desktop-icon#twitter .desktop-icon-image {
  background-image: url("/static/images/cinnamoroll_pixel_4.gif");
  width: 100px;
  height: 120px;
}

.desktop-icon#tumblr .desktop-icon-image {
  background-image: url("/static/images/cinnamoroll_pixel_5.gif");
  width: 100px;
  height: 120px;
}

.desktop-icon#retrospring .desktop-icon-image {
  background-image: url("/static/images/cinnamoroll_pixel_6.gif");
  width: 100px;
  height: 120px;
}

.desktop-icon#coffee .desktop-icon-image {
  background-image: url("/static/images/cinnamoroll_pixel_7.gif");
  width: 100px;
  height: 120px;
}

#cinnamoroll-pet {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("/static/images/cinnamoroll_pixel_1.gif");
  width: 20px;
  height: 20px;
}

.app-container {
  position: absolute;
  overflow: auto;
  resize: both;
  display: flex;
  flex-flow: column nowrap;
    box-shadow: 0px 0px 40px #0004, 0px 0px 8px #0006;
}


.window-container {
background: #ff8ab9;
background: linear-gradient(90deg, #fff3, #e8619833, #fff3), linear-gradient(0deg, rgba(255, 138, 185, 0.6) 85%, rgba(255, 158, 200, 0.6) 100%);
  border-radius: 4px;
  padding: 0px 4px 4px 4px;
  backdrop-filter: blur(2px);
  border: 1px solid #fff6;
}

.sticky-container {
  width: 300px;
  height: 350px;
}

.app-header {
  flex-basis: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: clip;
  min-height: 30px;
}

.window-header {
  padding: 0.5%;
  padding-top: 0px;
  color: #fff;
  font-weight: 400;
  align-items: start;
}

.window-icon {
  font-size: 1rem;
  color: #ffd8ee;
}

.sticky-header {
  color: #000;
  background-image: linear-gradient(to right, #f7cc6f, #f3c769);
  padding: 2%;
}

.sticky-title {
  background: none;
  border: none;
  cursor: text;
  font-size: 1rem;
  padding: 0;
  width: auto;
  display: inline-block;
}

.sticky-title:focus {
  border: none;
  outline: none;
}

.app-options {
  display: flex;
  font-size: 1rem;
}

.window-title {
    transform: translateY(3px);
}

.window-options {
  color: #c0ddff;
  flex-basis: 66px;
  border: 1px solid #0002;
  border-top: none;
  border-radius: 0px 0px 2px 2px;
  outline: 1px solid #fff3;
}

.window-options button {
    background-color: transparent;
    background-image: linear-gradient(#fff3, transparent);
    border-top: none;
    color: #fff;
    margin: 0;
    border: none;
}

.window-options button:first-child {
    border-right: 1px solid #0002;
}

.window-options button:last-child {
    border-left: 1px solid #0002;
}

.window-options button i {
    filter: drop-shadow(0px 0px 1px #0003);
}

.app-content {
  flex-grow: 1;
}

.window-content {
  padding: 0;
  overflow: auto;
}

.sticky-content-container {
  padding: 3%;
  background-image: linear-gradient(#ffdf9a, #ffd988);
}s

.sticky-content {
  resize: none;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: text;
}

.sticky-content:focus {
  outline: none;
  border: none;
}

#dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  z-index: 999;
  width: 98%;
  height: max(4vh, 42px);
  padding: 0% 1%;
background: #e884bd;
background: linear-gradient(0deg, rgba(232, 132, 189, 0.8) 0%, rgba(232, 102, 156, 0.8) 23%, rgba(232, 81, 144, 0.8) 59%, rgba(250, 155, 195, 0.8) 64%, rgba(253, 178, 218, 0.8) 87%, rgba(255, 235, 255, 0.8) 100%);
  color: #fff;
  box-shadow: 0 -1px 1px var(--shadow);
  backdrop-filter: blur(3px);
}

#dashboard-left-section {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  gap: 2vw;
}

#dashboard-start-container {
  position: relative;
  height: 100%;
}

#dashboard-start-menu {
  display: flex;
  z-index: 1000;
  position: absolute;
  bottom: 4vh;
  width: 26vw;
  height: 70vh;
  background-image: linear-gradient(#6655fc, #6473ff);
  box-shadow: 3px 0px 3px var(--shadow);
}

#dashboard-start-cols {
  display: flex;
  width: 100%;
}

#dashboard-start-quick {
  flex-basis: 8%;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.3rem;
  gap: 2%;
}

.dashboard-start-tooltip-container {
  position: relative;
}

.dashboard-start-tooltip {
  display: none;
  position: absolute;
  left: 21px;
  top: 0;
  width: auto;
  min-width: 5vw;
  padding: 0.5vh 0.5vw;
  font-size: 0.9rem;
  background-color: #2d166bc2;
}

#dashboard-start-apps {
  flex: 1 0 40%;
  padding: 3% 2% 0% 2%;
}

.dashboard-start-label {
  margin: 5% 0% 5% 3%;
  color: #9ca6ff;
  font-size: 0.9rem;
}

.dashboard-start-item {
  padding: 3%;
  transition: background-color 0.1s;
  font-size: 1.1rem;
}

.dashboard-start-item:hover {
  background-color: #3624d8;
}

#dashboard-start-grid {
  padding: 2%;
  flex-basis: 40%;
}

.dashboard-start-grid-item {
  width: 100%;
  max-height: 25%;
  overflow: clip;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5%;
}

.dashboard-start-grid-item img {
  width: 100%;
  transition: transform 0.2s;
}

.dashboard-start-grid-item:hover img {
  transform: scale(1.2);
}

.grid-item-container:link,
.grid-item-container:visited {
  text-decoration: none;
  color: #fff;
}

.grid-item-text {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 3%;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(transparent, #17075a);
  font-weight: 400;
}

#dashboard-start-button-container {
    position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard-start-button {
  height: max(3vw, 50px);
  width: max(3vw, 50px);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.1s;
  text-align: center;
  padding: 0% 1%;
  border-radius: 50%;
  background: #87e5ff;
    background: linear-gradient(0deg, rgba(135, 229, 255, 1) 0%, rgba(113, 186, 255, 1) 27%, rgba(64, 115, 255, 1) 91%);
    transform: translateY(-10px);
    isolation: isolate;
}

#dashboard-start-button::after {
    content: "";
    width: 92%;
    height: 92%;
    position: absolute;
    background-image: linear-gradient(#fff8, transparent 25%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dashboard-start-button-icon {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/windows_vista_logo.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#dashboard-start-button:hover {
  background-color: #3624d8;
}

#dashboard-start-button.active {
  background-color: #3624d8;
}

#dashboard-start-button-shadow-container {
    position: absolute;
  height: max(3vw, 50px);
  width: max(calc(3vw + 7px), 57px);
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    transform: translateX(-2.5px);
}

#dashboard-start-button-shadow {
    width: max(calc(3vw + 5px), 55px);
    height: max(calc(3vw + 5px), 55px);
    background-image: linear-gradient(#0002, #0001);
    mix-blend-mode: multiply;
    border-radius: 50%;
    transform: translateY(-12.5px);
    box-sizing: border-box;
    outline: 1px solid #fff3;
}

.dashboard-divider {
  display: flex;
  align-items: center;
  width: 0;
  height: 80%;
  border-left: 1px solid #5644f8;
  margin: 0 3%;
}

#dashboard-items {
  flex-grow: 1;
  max-width: 80vw;
  overflow: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2%;
}

.dashboard-item-container {
    position: relative;
	flex: 0 1 20vw;
	display: flex;
	align-items: center;
	height: 95%;
	border-radius: 2px;
	background-image: linear-gradient(#fff6, transparent);
	box-shadow: 0px 0px 1px #fff4;
	/* background-color: #fff5; */
	border: 1px solid #0002;
    outline: 1px solid #fff3;
    box-sizing: border-box;
}

.dashboard-item-container::after {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #fff3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.dashboard-item-container.active {
}

.dashboard-item-text {
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
    text-shadow: 0px 0px 10px #0006;
  --webkit-line-clamp: 1;
  transform: translateX(25%);
}

#dashboard-right-section {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}

#dashboard-datetime {
  text-align: center;
  user-select: none;
  font-size: 0.8rem;
  text-shadow: 0px 0px 2px #0003;
}
