#desktop {
  position: relative;
  width: 100%;
  height: 94vh;
  background-image: url("/static/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-weight: 300;
}

.app-container {
  position: absolute;
  box-shadow: 2px 2px 3px var(--shadow);
  overflow: auto;
  resize: both;
  display: flex;
  flex-flow: column nowrap;
}

.window-container {
  border: 1px solid #8aa6ff;
  overflow: clip;
}

.sticky-container {
  width: 300px;
  height: 350px;
}

.app-header {
  flex-basis: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: clip;
}

.window-header {
  padding: 0.5%;
  background-color: #8aa6ff;
  color: #fff;
  font-weight: 400;
}

.window-icon {
  font-size: 1rem;
  color: #ffd8ee;
}

.sticky-header {
  background-image: linear-gradient(to right, #f7cc6f, #f3c769);
  padding: 2%;
}

.sticky-title {
  background: none;
  border: none;
  cursor: text;
  font-size: 1rem;
  padding: 0;
  width: auto;
  display: inline-block;
}

.sticky-title:focus {
  border: none;
  outline: none;
}

.app-options {
  display: flex;
  font-size: 1rem;
}

.window-options {
  color: #c0ddff;
  flex-basis: 66px;
  gap: 10%;
}

.app-content {
  flex-grow: 1;
}

.window-content {
  background-color: #fff;
  padding: 0;
  overflow: auto;
}

.sticky-content-container {
  padding: 3%;
  background-image: linear-gradient(#ffdf9a, #ffd988);
}

.sticky-content {
  resize: none;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: text;
}

.sticky-content:focus {
  outline: none;
  border: none;
}

#dashboard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  z-index: 999;
  width: 98%;
  height: 6vh;
  padding: 0% 1%;
  background-image: linear-gradient(to right, #6473ff, #7262ff);
  color: #fff;
  box-shadow: 0 -1px 3px var(--shadow);
}

#dashboard-left-section {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

#dashboard-start-container {
  position: relative;
  height: 100%;
}

#dashboard-start-menu {
  display: flex;
  z-index: 1000;
  position: absolute;
  bottom: 6vh;
  width: 26vw;
  height: 70vh;
  background-image: linear-gradient(#6655fc, #6473ff);
  box-shadow: 3px 0px 3px var(--shadow);
}

#dashboard-start-cols {
  display: flex;
  width: 100%;
}

#dashboard-start-quick {
  flex-basis: 8%;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.3rem;
  gap: 2%;
}

.dashboard-start-tooltip-container {
  position: relative;
}

.dashboard-start-tooltip {
  display: none;
  position: absolute;
  left: 21px;
  top: 0;
  width: auto;
  min-width: 5vw;
  padding: 0.5vh 0.5vw;
  font-size: 0.9rem;
  background-color: #2d166bc2;
}

#dashboard-start-apps {
  flex: 1 0 40%;
  padding: 3% 2% 0% 2%;
}

.dashboard-start-label {
  margin: 5% 0% 5% 3%;
  color: #9ca6ff;
  font-size: 0.9rem;
}

.dashboard-start-item {
  padding: 3%;
  transition: background-color 0.1s;
  font-size: 1.1rem;
}

.dashboard-start-item:hover {
  background-color: #3624d8;
}

#dashboard-start-grid {
  padding: 2%;
  flex-basis: 40%;
}

.dashboard-start-grid-item {
  width: 100%;
  max-height: 25%;
  overflow: clip;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5%;
}

.dashboard-start-grid-item img {
  width: 100%;
  transition: transform 0.2s;
}

.dashboard-start-grid-item:hover img {
  transform: scale(1.2);
}

.grid-item-container:link, .grid-item-container:visited {
  text-decoration: none;
  color: #fff;
}

.grid-item-text {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 3%;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(transparent, #17075a);
  font-weight: 400;
}

#dashboard-start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  height: 100%;
  width: 5vw;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.1s;
  text-align: center;
}

#dashboard-start-button i {
  font-size: 1.3rem;
}

#dashboard-start-button:hover {
  background-color: #3624d8;
}

#dashboard-start-button.active {
  background-color: #3624d8;
}

.dashboard-divider {
  display: flex;
  align-items: center;
  width: 0;
  height: 80%;
  border-left: 1px solid #5644f8;
  margin: 0 3%;
}

#dashboard-items {
  flex-grow: 1;
  max-width: 80vw;
  overflow: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2%;
}

.dashboard-item-container {
  flex: 0 1 20vw;
  display: flex;
  align-items: center;
  height: 80%;
  padding: 0% 1vw;
  border-radius: 5px;
  background-image: linear-gradient(#8aa6ff, #6d88ff);
  box-shadow: 1px 1px 1px var(--shadow);
}

.dashboard-item-container.active {
  flex: 0 1 20vw;
  display: flex;
  align-items: center;
  height: 80%;
  font-weight: bold;
  background-image: linear-gradient(#ff8aca, #ff6dbd);
  padding: 0% 1vw;
}

.dashboard-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  --webkit-line-clamp: 1;
}

#dashboard-right-section {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}

#dashboard-datetime {
  text-align: center;
  user-select: none;
}



