@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: default;
}

:root {
  --shadow: #34303f4f;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: clip;
}

#container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
