.music-player {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
  color: #fff;
  background-image: linear-gradient(to right top, #292e67, #2d275b, #2f214f, #2e1b44, #2c1639, #291634, #25152f, #22152a, #1f1727, #1d1924, #1c1b20, #1c1c1c);
  padding-top: 15%;
}

i {
  font-size: 2rem;
}

.visualizer {
  width: 95%;
  height: 40%;
  margin: auto;
  padding: 2%;
  border-radius: 10px;
}

.visualizer-canvas {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.music-player-controls {
  padding: 0% 3% 2% 3%;
  width: 95%;
  margin: auto;
  border-radius: 20px;
  background-color: #00000066;
  box-shadow: 1px 1px 2px #000;
}

.music-player-top-controls {
  display: flex;
  align-items: center;
  gap: 3%;
  height: 10%;
}

.music-player-seeker {
  flex-grow: 1;
  height: 34px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.music-player-seeker-range {
  width: 100%;
  height: 15%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff8bb2;
  border-radius: 10px;
}

.music-player-seeker-range::-webkit-slider-runnable-track {
  height: 15%;
  background-color: #ff8bb2;
  border-radius: 10px;
}

.music-player-seeker-range::-moz-range-track {
  height: 15%;
  background-color: #ff8bb2;
  border-radius: 10px;
}

.music-player-seeker-range::-webkit-slider-thumb {
  --webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff9fe);
  box-shadow: 0 0 2px #00000066;
  margin-top: -8px;
}

.music-player-seeker-range::-moz-range-thumb {
  border: none;
  --webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff9fe);
  box-shadow: 0 0 2px #00000066;
  margin-top: -8px;
}

.music-player-seeker-range:focus {
  outline: none;
}

.music-player-seeker-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}

.music-player-bottom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  color: #ff9fbf;
}

.music-player-play {
  background-color: #ff9fbf;
  color: #000;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.1rem;
  transition: transform 0.1s;
  box-shadow: 0 0 2px #ff7bb2;
}

.music-player-play:active {
  transform: scale(1.2);
}

.track-list {
  padding: 3%;
}

.track-list-title {
  font-size: 1.4rem;
  opacity: 0.5;
  font-weight: 600;
}

.track-list-container {
  padding: 3%;
  padding-top: 0;
  overflow-x: clip;
  overflow-y: auto;
  margin-top: -2%;
}

.music-track {
  padding: 3% 1%;
  margin: 2% 0%;
  transition: color 0.2s;
}

.music-track.active {
  color: #ff9fbf;
}

.music-track.active::after {
  content: "playing...";
  margin-left: 10%;
  font-size: 0.7rem;
}