<link rel="stylesheet" href="/styles/chat_box.css" />
<div class="chatbox">
  <div class="chatbox-msg-container">
    <template id="chatbox-msg-template">
      <div class="chatbox-msg">
        <div class="chatbox-msg-name"></div>
        <div class="chatbox-msg-content"></div>
        <div class="chatbox-msg-timestamp"></div>
      </div>
    </template>
  </div>
  <div class="chatbox-form-container">
    <form id="msg-form" action="/chat/send">
      <input type="checkbox" name="BOT" id="chatbox-is-bot" style="display: none" />
      <input type="text" id="chatbox-user-name" placeholder="name" required aria-label="name" maxlength="20" />
      <div class="chatbox-form-msg-section">
        <textarea id="chatbox-user-msg" placeholder="message (255 charas max)" maxlength="255" rows="1" required aria-label="message"></textarea>
        <input type="submit" value="send" />
      </div>
    </form>
    <div class="chatbox-form-wordcount"></div>
  </div>
</div>
<script src="/scripts/chatbox.js"></script>