<div class="dni">
  <div class="dni-container">
    <h3>account rules</h3>
    <p><strong>do not interact if you think racism isn't a big deal, undermine/harass those who call out the racism in enstars/the fandom, or prioritize the feelings of fictional characters over real poc. i want nothing to do with you and nothing i make will ever be for you.</strong></p>
    <p>im not proship/profic and have to ask ppl who are proship/profic to not interact, im very uncomfortable with the content promoted by profiction. however, i dont identify as an anti and will never harass people over this, i wanna avoid seeing this content as much as possible so i just block and move on ^^</p>
    <p>i tend to block/mute those who <strong>harass people over their harmless enstars opinions</strong> (ex. insulting/qrting people who don't like your favorite characters/units/songs) it's immature and annoying</p>
    <p>i do block liberally so if you're blocked and don't fall under the above feel free to lemme know!</p>
    <p><strong>Involve me in discourse and it'll be the last thing you do.</strong></p>
  </div>
</div>