<link rel="stylesheet" href="/styles/about_mobile.css" />
<div class="about">
  <div class="about-basics-col">
    <div class="about-basics-container">
      <div class="about-basic-icon">

      </div>
      <div class="about-basic-info-container">
        <div class="about-basic-info">
          <span class="abt-basic-info-label">name:</span> son
        </div>
        <div class="about-basic-info">
          <span class="abt-basic-info-label">age:</span> 25+
        </div>
        <div class="about-basic-info">
          <span class="abt-basic-info-label">pronouns:</span> she/he
        </div>
      </div>
      
    </div>
  </div>
  <div class="about-longer-col">
    <div class="about-longer-container">
      <div class="about-paragraph">
        <h3>about me</h3>
        <p>hello, my name is <strong>son</strong>! i'm a black web developer who currently really enjoys ensemble stars. i also draw occassionally, although i wouldn't necessarily call myself an artist. i started playing enstars <strong>june 2022</strong>.</p>
      </div>
      <div class="about-paragraph">
        <h3>about this website</h3>
        <p>i wanted to make a website that you couldn't make with carrd, but i ended up going overboard haha. this uses <strong>jquery</strong> in the front-end with a <strong>node.js/express</strong> back-end</p>
      </div>
    </div>
  </div>
</div>