<link rel="stylesheet" href="/styles/mobile.css" />
<script defer src="/scripts/mobile.js"></script>
<main id="app-screen">
    <div id="app-grid">
        <div class="app-item app-icon">
            <div class="app-icon-inner">

            </div>
            <div class="app-label">
                about
            </div>
        </div>
        <div class="app-item app-icon">
            <div class="app-icon-inner">

            </div>
            <div class="app-label">
                chat
            </div>
        </div>
        <div class="app-item app-widget app-widget-small" id="widget-clock">
        </div>
        <div class="app-item app-icon">
            <div class="app-icon-inner">

            </div>
            <div class="app-label">
                music
            </div>
        </div>
        <div class="app-item app-icon">
            <div class="app-icon-inner">

            </div>
            <div class="app-label">
                notes
            </div>
        </div>
        <div class="app-item app-widget app-widget-large">
            <div class="app-content-inner">

            </div>
            <div class="app-label">
                clock
            </div>
        </div>
        <div class="app-item app-widget app-widget-small"></div>
        <div class="app-item app-icon"></div>
        <div class="app-item app-icon"></div>
        <div class="app-item app-icon"></div>
        <div class="app-item app-icon"></div>
    </div>
    <div id="app-shortcuts">
    </div>
</main>